{% extends 'common/base.html' %}

{% block content %}
        <section id="about-us">
        <div class="container">
            <h1>За нас</h1>
            <p>Добре дошли на нашата страница, посветена на прекрасните природни паркове, забележителности и еко пътеки в България. Нашата цел е да помогнем на всеки да преоткрие красотата на природата и да се свърже с нейния величествен дух.</p>

            <div class="mission">
                <h2>Нашата мисия</h2>
                <p>Нашата мисия е да вдъхновяваме хората да прекарват повече време сред природата, да опознаят богатото биоразнообразие на нашата страна и да подкрепят опазването на околната среда. Вярваме, че чрез нашите препоръки за еко пътеки и природни паркове, можем да мотивираме всеки да се наслаждава на природните богатства и да ги пази.</p>
            </div>

            <div class="vision">
                <h2>Нашата визия</h2>
                <p>Да изградим общество, което е осъзнато и отговорно към природата, където всеки намира време да избяга от градската суета и да се докосне до красотата на планините, реките и горите на България.</p>
            </div>

            <div class="values">
                <h2>Нашите ценности</h2>
                <ul>
                    <li><strong>Природна красота:</strong> Природата е нашето вдъхновение, и затова се стремим да показваме най-красивите места и еко пътеки в страната.</li>
                    <li><strong>Устойчиво развитие:</strong> Насърчаваме екологично съобразеното поведение и внимателното използване на природните ресурси.</li>
                    <li><strong>Образование:</strong> Вярваме, че познаването на природните паркове и защитените територии е ключ към тяхното опазване за бъдещите поколения.</li>
                    <li><strong>Приключенски дух:</strong> Подкрепяме изследователския дух и любовта към приключенията на открито, които обогатяват душата и ни доближават до природата.</li>
                </ul>
            </div>

            <div class="team">
                <h2>Екипът ни</h2>
                <p>Ние сме група ентусиасти, обичащи природата и посветени на споделянето на невероятни места. Нашият екип включва планинари, биолози и фотографи, които са водени от любов към природата и стремежа да запознаят повече хора с нея.</p>
            </div>
        </div>
    </section>

{% endblock %}
