{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>Index</title>
</head>

<body>

<header>
    {% include 'common/nav.html' %}
</header>

<main>
    <div class="left-container">
        {% include 'common/profile-card-left-sidebar.html' %}
    </div>
    <div class="middle-container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="right-container">
        
    </div>
</main>

<footer>
    {% include  'common/footer.html' %}
</footer>

<script src="{% static 'js/script-main.js' %}"></script>

</body>
</html>