{% extends 'common/base.html' %}
{% load url_query_append %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col-9">

            {% if user.profile.get_full_name == 'Anonymous' %}
                <div class="landmark-card">
                    <p>
                        Здравей! 😊
                        Забелязахме, че твоят профил все още не е персонализиран. Отнема само 2-3 минути, за да го
                        направиш и да отключиш всички предимства!
                        👉 Персонализирай го сега и направи профила си още по-удобен и полезен за теб!
                        Благодарим ти, че си с нас! 🚀
                    </p>
                </div>
            {% endif %}

            <div class="info-banner">
                <div class="image-container">
                    <img src="{% static '/images/kolona3.jpg' %}" alt="Banner Image">
                </div>
                <div class="text-container">
                    <h3 align="center">Добре дошли в Дивото БГ</h3>
                    <p>Потопете се в красотата на българските еко пътеки и архитектурни чудеса – мястото, където
                        приключението и историята се срещат.</p>
                </div>
                <div class="image-container">
                    <img src="{% static '/images/kolona3-2.jpg' %}" alt="Banner Image">
                </div>
            </div>

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get">
                {{ search_form }}
                <button>
                    <img src="{% static '/images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Post Section -->
            {% for post in all_posts %}
                {% include 'common/post-card.html' %}
            {% endfor %}
            <!-- End  Post Section -->

            <!-- Start Pagination -->
            <div class="pagination">
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                <span class="step-links-buttons">
                
                    <!-- If there are previous and next photos -->
                    {% if page_obj.has_previous and page_obj.has_next %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>

                        <!-- If there are only previous photos -->
                    {% elif page_obj.has_previous %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>

                        <!-- If there are only next photos -->
                    {% elif page_obj.has_next %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </span>
            </div>
            <!-- End Pagination -->

        </div>
    </div>
{% endblock %}
