{% load static %}

<nav class="wild-nav">
    <div class="nav-left">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/wildbg-logo5.webp' %}" alt="Wild and Nature Logo" class="logo">
        </a>
        <a href="{% url 'home' %}">
            <span class="nav-title">Wild & Nature</span>
        </a>
    </div>
    <div class="nav-right">
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">New Post</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="{% url 'profile-details' request.user.pk %}">Profile</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </div>
</nav>
