{% load static %}

<div class="post-card">
    <div class="post-header">
        <div class="post-author-info">
            <a href="{% url 'profile-details' post.author.profile.pk %}">
            {% if post.author.profile.profile_picture %}
                    <img src="{{ post.author.profile.profile_picture.url }}" alt="Author Image" class="post-author-img">
            {% else %}
                <img src="{% static 'images/anonymous_full.jpg' %}" alt="Author Image" class="post-author-img">
            {% endif %}
            </a>
            <a href="{% url 'profile-details' post.author.profile.pk %}">
                <p class="post-author">{{ post.author.profile.first_name }} {{ post.author.profile.last_name }}</p>
            </a>
        </div>
        <div class="post-location-date">
            {% if post.location %}
            <a href="{% url 'details-landmark' post.location.pk %}">
                <p class="post-location">Location: {{ post.location.name }} {{ post.location.location_name }}</p>
            </a>
            {% else %}
                <p class="post-location">Nowhere/Anywhere</p>
            {% endif %}
            <p class="post-date">{{ post.created_at }}</p>
        </div>
    </div>

    <a href="{% url 'post-detail' post.pk %}">
        <div class="post-image">
            <img src="{{ post.post_image.url }}" alt="Location Picture">
        </div>
    </a>

    <div class="tagged-info">
        {% for person in post.tagged_people.all %}
            <a href="{% url 'profile-details' person.profile.pk %}">
                <p class="tagged-people">{{ person.profile.get_full_name }}</p>
            </a>
        {% endfor %}
    </div>
    <div class="post-description">
        <p>{{ post.description }}</p>
    </div>
    <div class="post-info">
        <p class="post-likes-count">{{ post.likes.count }} Likes</p>
        <p class="post-comments-count">{{ post.comments.count }} Comments</p>
    </div>
    <div class="post-actions">
        <button class="btn landmark-btn" onclick="location.href='{% url 'post-like' post.pk %}'">
            {% if post.has_liked %}
                Liked <i class="fa-solid fa-heart" style="color: #FF0000;"></i>  <!-- Liked -->
            {% else %}
                Like <i class="fa-regular fa-heart"></i> <!-- Not liked -->
            {% endif %}
        </button>
        {% if request.user.pk == post.author.profile.pk %}
        <button class="btn landmark-btn" onclick="location.href='{% url 'home' %}'">Edit Post</button>
        {% endif %}
        <button class="btn landmark-btn" onclick="location.href='{% url 'share-post' post.id %}'">Share <i class="fa-regular fa-share-from-square"></i></button>
    </div>
    <div class="post-comments">
        <div class="add-comment">
            <form method="post" action="{% url 'post-comment' post.pk %}">
                {% csrf_token %}
                <input type="text" class="comment-input" name="content" placeholder="Add a new comment...">
                <button class="comment-btn">Post</button>
            </form>
        </div>


        {# Comment section #}
        {% if all_comments %}
            {# Show all comments for the post detail page #}
            {% for detailed_comment in comments %}
                <div class="comment">
                    <a href="{% url 'profile-details' detailed_comment.comment.author.pk %}">
                        {% if detailed_comment.author_profile_picture.url %}
                            <img src="{{ detailed_comment.author_profile_picture.url }}" alt="Author Image" class="comment-author-img">
                        {% else %}
                            <img src="{% static 'images/anonymous_bear.jpg' %}" alt="Author Image" class="post-author-img">
                        {% endif %}
                    </a>
                    <div class="comment-content">
                        <p class="comment-author">
                            <a href="{% url 'profile-details' detailed_comment.comment.author.pk %}">
                                <strong>{{ detailed_comment.comment.author.profile.get_full_name }}</strong>
                            </a>
                            <span class="comment-date">{{ detailed_comment.created_at }}</span>
                        </p>
                        <p class="comment-text">
                            {{ detailed_comment.content }}
                        </p>
                        <div class="reply-section" style="display: none;">
                            <textarea class="reply-box" placeholder="Write a reply..."></textarea>
                            <button class="btn send-btn">Send</button>
                            <button class="btn cancel-btn">X</button>
                        </div>
                        <button class="btn reply-btn">Reply</button>
                        {% for detailed_reply in detailed_comment.replies %}
                            <div class="comment">
                                <img src="{{ detailed_reply.author_profile_picture.url }}" alt="Author Image"
                                     class="comment-author-img">
                                <div class="comment-content">
                                    <p class="comment-author">
                                        <strong>{{ detailed_reply.author_name }}</strong> - <span
                                            class="comment-date">{{ detailed_reply.created_at }}</span>
                                    </p>
                                    <p class="comment-text">
                                        {{ detailed_reply.content }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% elif last_comment_only %}
            {# Show only the last comment for home page #}
            {#                <div class="comment">#}
            {#                    <img src="{{ post.last_comment.author_profile_picture.url }}" alt="Author Image"#}
            {#                         class="comment-author-img">#}
            {#                    <div class="comment-content">#}
            {#                        <p class="comment-author">#}
            {#                            <strong>{{ post.last_comment_data.author_name }}</strong> - <span#}
            {#                                class="comment-date">{{ detailed_comment.created_at }}</span>#}
            {#                        </p>#}
            {#                        <p class="comment-text">#}
            {#                            {{ detailed_comment.content }}#}
            {#                        </p>#}
            {#                    </div>#}
            {#                </div>#}
        {% endif %}
    </div>
</div>
