{% load static %}

<div class="profile-card-sidebar">

    {% if user.is_authenticated %}
        <div class="name-container">

            {% if not user.profile.get_full_name == 'Anonymous' %}
                <span class="first-name">{{ user_profile.first_name }}</span>
                <span class="last-name">{{ user_profile.last_name }}</span>
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
            {% else %}
                <span class="first-name">Anonymous bear</span>
                <span class="last-name"></span>
                <img src="{% static 'images/anonymous_bear.jpg' %}" alt="Profile Picture" class="profile-picture">
            {% endif %}
            <span class="points">Points:</span>
            <p class="profile-p-info">{{ user_profile.points }}</p>
            <span class="level">Level:</span>
            <p class="profile-p-info">{{ user_profile.level }}</p>
            <span class="about-me">About me:</span>
            {% if user_profile.description == '' %}
                <p class="profile-p-info">No information</p>
            {% else %}
                <p class="profile-p-info">{{ user_profile.description }}</p>
            {% endif %}
        </div>
    {% else %}
        <p>
            Welcome to Wild BG!
        </p>
        <img src="{% static 'images/tree.webp' %}" alt="Profile Tree" class="profile-tree">
        <p>
            Already have an account? <a href="{% url 'login' %}" style="color: blue; text-decoration: underline;">Log
            in</a>
            to continue your journey.
            <br><br>
            You still don't have a profile? <a href="{% url 'register' %}"
                                               style="color: blue; text-decoration: underline;">Sign up now</a>
            to unlock all the features and join the community!
        </p>
    {% endif %}
</div>
