{% for landmark_data in top_rated_landmarks %}
    <a href="{% url 'details-landmark' landmark_data.landmark.pk %}">
        <div class="info-card">  {# onclick="window.location.href='https://example.com' #}
            <h2 class="name">{{ landmark_data.landmark.user.profile.get_full_name }}</h2>
            <p class="location">{{ landmark_data.landmark.name }}</p>
            <img src="{{ landmark_data.landmark.image.url }}" alt="Location Picture" class="location-picture">
            <p class="description">
                {{ landmark_data.landmark.description }}
            </p>
            <div class="rating">
                {% for i in landmark_data.full_stars %}
                    <span class="star">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2.5l3.09 6.26L22 9.27l-5 4.87 1.18 6.86L12 17.77l-6.18 3.25L7 14.14l-5-4.87 6.91-1.01L12 2.5z" fill="#FFD700"/>
                        </svg>
                    </span>
                {% endfor %}
                {% if landmark_data.half_star %}
                    <span class="star half-star">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient id="half-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                                    <stop offset="50%" style="stop-color:#FFD700;stop-opacity:1"/>
                                    <stop offset="50%" style="stop-color:#ccc;stop-opacity:1"/>
                                </linearGradient>
                                </defs>
                            <path d="M12 2.5l3.09 6.26L22 9.27l-5 4.87 1.18 6.86L12 17.77l-6.18 3.25L7 14.14l-5-4.87 6.91-1.01L12 2.5z" fill="url(#half-gradient)"/>
                        </svg>
                    </span>
                    {# <i class="fa-regular fa-star-half-stroke"></i> #}
                {% endif %}
                {% for i in landmark_data.empty_stars %}
                    <span class="star empty"></span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2.5l3.09 6.26L22 9.27l-5 4.87 1.18 6.86L12 17.77l-6.18 3.25L7 14.14l-5-4.87 6.91-1.01L12 2.5z" fill="#ccc"/>
                    </svg>
                {% endfor %}
            </div>
            <p>{{ landmark_data.average_rating|floatformat:2 }} ({{ landmark_data.review_count }})</p>
        </div>
    </a>
{% endfor %}