{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/404.css' %}">
    <title>404 Page Not Found</title>
</head>
<body>
    <div class="container">
        <div class="animation-box">
            <img src="{% static 'images/404-bear3.webp' %}" alt="Animated Bear" class="bear-image">
        </div>
        <div class="message-box">
            <!-- <h1>404</h1> -->
            <h2>Oops! You seem lost in the wild ...</h2>
            <p>But don't worry, even the best explorers sometimes take a wrong turn. Take a deep breath and enjoy the adventure!</p>
            <p>Let me guide you back to the right path.</p>
            <a href="#" class="home-button">Return Home</a>
        </div>
    </div>
</body>
</html>
