{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="my-posts-header">
        <h3>Create New Post</h3>
    </div>

    <div class="post-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Post Information</h3>

            <div class="form-group">
                {{ form.location.label_tag }}
                {{ form.location }}
                {{ form.location.errors }}
            </div>

            <div class="form-group">
                {{ form.post_image.label_tag }}
                {{ form.post_image }}
                {{ form.post_image.errors }}
            </div>

            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn">Create Post</button>
            </div>
        </form>
    </div>

    <script src="{% static 'js/script-post-create-form.js' %}"></script>

{% endblock %}
