{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="my-posts-header">
        <h3>Edit Landmark</h3>
    </div>

    <div class="landmark-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Landmark Information</h3>
            <div class="form-group">
                {{ landmark_form.name.label_tag }}
                {{ landmark_form.name }}
                {{ landmark_form.name.errors }}
            </div>

            <div class="form-group">
                {{ landmark_form.location_name.label_tag }}
                {{ landmark_form.location_name }}
                {{ landmark_form.location_name.errors }}
            </div>

            <div class="form-group">
                {{ landmark_form.description.label_tag }}
                {{ landmark_form.description }}
                {{ landmark_form.description.errors }}
            </div>

            <div class="form-group">
                {{ landmark_form.image.label_tag }}
                {{ landmark_form.image }}
                {{ landmark_form.image.errors }}
            </div>

            <div class="form-group">
                {{ landmark_form.map_location.label_tag }}
                {{ landmark_form.map_location }}
                {{ landmark_form.map_location.errors }}
            </div>

            <div class="form-group">
                {{ landmark_form.level.label_tag }}
                {{ landmark_form.level }}
                {{ landmark_form.level.errors }}
            </div>

            <h3>Additional Landmark Information</h3>

            <div class="form-group">
                {{ additional_info_form.is_transition.label_tag }}
                {{ additional_info_form.is_transition }}
                {{ additional_info_form.is_transition.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.duration.label_tag }}
                {{ additional_info_form.duration }}
                {{ additional_info_form.duration.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.is_accessible.label_tag }}
                {{ additional_info_form.is_accessible }}
                {{ additional_info_form.is_accessible.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.distance_km.label_tag }}
                {{ additional_info_form.distance_km }}
                {{ additional_info_form.distance_km.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.suitable_for_children.label_tag }}
                {{ additional_info_form.suitable_for_children }}
                {{ additional_info_form.suitable_for_children.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.has_eating_places.label_tag }}
                {{ additional_info_form.has_eating_places }}
                {{ additional_info_form.has_eating_places.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.is_ennobled.label_tag }}
                {{ additional_info_form.is_ennobled }}
                {{ additional_info_form.is_ennobled.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.start_point.label_tag }}
                {{ additional_info_form.start_point }}
                {{ additional_info_form.start_point.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.end_point.label_tag }}
                {{ additional_info_form.end_point }}
                {{ additional_info_form.end_point.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.accessible_by_car.label_tag }}
                {{ additional_info_form.accessible_by_car }}
                {{ additional_info_form.accessible_by_car.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.has_parking.label_tag }}
                {{ additional_info_form.has_parking }}
                {{ additional_info_form.has_parking.errors }}
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn">Edit Landmark</button>
            </div>
        </form>
    
        <div class="form-group">
            <button type="submit" class="btn btn-danger" onclick="location.href='{% url 'delete-landmark' object.pk %}'">Delete Post</button>
        </div>
    
    </div>

{% endblock %}

