{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="my-posts-header">
        <h3>New Landmark</h3>
    </div>

    <div class="landmark-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Landmark Information</h3>
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>

            <div class="form-group">
                {{ form.location_name.label_tag }}
                {{ form.location_name }}
                {{ form.location_name.errors }}
            </div>

            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="form-group">
                {{ form.image.label_tag }}
                {{ form.image }}
                {{ form.image.errors }}
            </div>

            <div class="form-group">
                {{ form.map_location.label_tag }}
                {{ form.map_location }}
                {{ form.map_location.errors }}
            </div>

            <div class="form-group">
                {{ form.level.label_tag }}
                {{ form.level }}
                {{ form.level.errors }}
            </div>

            <h3>Additional Landmark Information</h3>

            <div class="form-group">
                {{ additional_info_form.is_transition.label_tag }}
                {{ additional_info_form.is_transition }}
                {{ additional_info_form.is_transition.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.duration.label_tag }}
                {{ additional_info_form.duration }}
                {{ additional_info_form.duration.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.is_accessible.label_tag }}
                {{ additional_info_form.is_accessible }}
                {{ additional_info_form.is_accessible.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.distance_km.label_tag }}
                {{ additional_info_form.distance_km }}
                {{ additional_info_form.distance_km.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.suitable_for_children.label_tag }}
                {{ additional_info_form.suitable_for_children }}
                {{ additional_info_form.suitable_for_children.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.has_eating_places.label_tag }}
                {{ additional_info_form.has_eating_places }}
                {{ additional_info_form.has_eating_places.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.is_ennobled.label_tag }}
                {{ additional_info_form.is_ennobled }}
                {{ additional_info_form.is_ennobled.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.start_point.label_tag }}
                {{ additional_info_form.start_point }}
                {{ additional_info_form.start_point.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.end_point.label_tag }}
                {{ additional_info_form.end_point }}
                {{ additional_info_form.end_point.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.accessible_by_car.label_tag }}
                {{ additional_info_form.accessible_by_car }}
                {{ additional_info_form.accessible_by_car.errors }}
            </div>

            <div class="form-group">
                {{ additional_info_form.has_parking.label_tag }}
                {{ additional_info_form.has_parking }}
                {{ additional_info_form.has_parking.errors }}
            </div>


            <button type="submit" class="btn">Create Landmark</button>
        </form>
    </div>


{% endblock %}


{#<div class="my-posts-header">#}
{#    <h3>New Post</h3>#}
{#</div>#}
{##}
{#<div class="landmark-card">#}
{#    <form method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{##}
{#        <h3>Landmark Information</h3>#}
{#        {{ form.as_p }}#}
{##}
{#        <h3>Additional Landmark Information</h3>#}
{#        {{ additional_info_form.as_p }}#}
{#        <button class="btn">Create Landmark</button>#}
{#    </form>#}
{#</div>#}