{% extends 'common/base.html' %}
{% load duration_filter %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <title>Landmark</title>
    </head>
    <body>
    <div class="middle-container">
        <div class="landmark-card">
            <h2 class="landmark-name">{{ object.name }}</h2>
            <div class="landmark-total-stars">
                <div class="landmark-stars">
                    <span class="stars-integer">4.2 (517)</span>
                    <div class="star-rating">
                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star empty">☆</span>
                    </div>
                </div>
            </div>

            <div class="landmark-image">
                <img src="{{ object.image.url }}" alt="Location Picture">
            </div>

            <p class="landmark-location">{{ object.location_name }}</p>

            <p class="landmark-description">
                {{ landmark.description }}
            </p>

            <div class="transition-card">
                <div class="transition-availability">
                    {% if object.additional_landmark_info.is_transition %}
                        Преход: Да
                    {% elif object.additional_landmark_info.is_transition %}
                        Преход: Не
                    {% endif %}
                </div>
                <div class="transition-info">
                    <div class="transition-left">
                        {% if object.additional_landmark_info.duration %}
                            <p>Време за перход: {{ object.additional_landmark_info.duration|format_duration }} </p>
                        {% else %}
                            <p>Време за перход: Няма</p>
                        {% endif %}

                        {#                        {% if object.additional_landmark_info.duration %}#}
                        {#                        {% else %}#}
                        {#                        {% endif %}#}
                        {#                        <p>Време за перход: {{ object.additional_info.duration }} минути</p>#}

                        {% if object.additional_landmark_info.distance_km %}
                            <p>Километри: {{ object.additional_landmark_info.distance_km }} км</p>
                        {% else %}
                            <p>Километри: Няма</p>
                        {% endif %}


                        {% if object.additional_landmark_info.suitable_for_children %}
                            <p>Подходящо за деца: Да</p>
                        {% elif not bject.additional_landmark_info.suitable_for_children %}
                            <p>Подходящо за деца: Не</p>
                        {% else %}
                            <p>Подходящо за деца: Няма информация</p>
                        {% endif %}


                        {% if object.additional_landmark_info.has_eating_places %}
                            <p>Места за ядене: Да</p>
                        {% elif not bject.additional_landmark_info.has_eating_places %}
                            <p>Места за ядене: Не</p>
                        {% else %}
                            <p>Подходящо за деца: Няма информация</p>
                        {% endif %}


                        {% if object.additional_landmark_info.is_ennobled %}
                            <p>Облагородено: Да</p>
                        {% elif not bject.additional_landmark_info.is_ennobled %}
                            <p>Облагородено: Не</p>
                        {% else %}
                            <p>Подходящо за деца: Няма информация</p>
                        {% endif %}

                    </div>
                    <div class="transition-right">
                        {% if object.additional_landmark_info.start_point %}
                            <p>Начална точка: {{ object.additional_landmark_info.start_point }}</p>
                        {% else %}
                            <p>Начална точка: Няма информация</p>
                        {% endif %}

                        {% if object.additional_landmark_info.end_point %}
                            <p>Крайна точка: {{ object.additional_landmark_info.end_point }}</p>
                        {% else %}
                            <p>Крайна точка: Няма информация</p>
                        {% endif %}

                        {% if object.additional_landmark_info.accessible_by_car %}
                            <p>Лесно дотъпно за кола: Да</p>
                        {% elif not bject.additional_landmark_info.accessible_by_car %}
                            <p>Лесно дотъпно за кола: Не</p>
                        {% else %}
                            <p>Лесно дотъпно за кола: Няма информация</p>
                        {% endif %}

                        {% if object.additional_landmark_info.has_parking %}
                            <p><p>Паркинг: Да</p></p>
                        {% elif not bject.additional_landmark_info.has_parking %}
                            <p><p>Паркинг: Не</p>
                        {% else %}
                            <p>Паркинг: Няма информация</p>
                        {% endif %}

                        <p>Последно обновено: {{ object.updated_at|date:"m.d.Y" }}</p>

                    </div>
                </div>
            </div>


            <div class="landmark-map">
                <iframe
                        src="{{ object.map_location }}"
                        class="map-frame"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>


            <div class="landmark-stats">
                <p class="landmark-likes">Likes: 100</p>
                <p class="landmark-visits">Visits: 250</p>
            </div>

            <div class="landmark-actions">
                <button class="btn landmark-btn">Like</button>
                <button id="addReviewBtn" class="btn landmark-btn">Add review</button>
                <button class="btn landmark-btn">Visited</button>
            </div>

            <!-- Modal for Add Review -->
            <div id="reviewModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Add Your Review</h2>
                    <form id="reviewForm" method="post" action="add_review">
                        {% csrf_token %}
                        <label for="reviewStars">Your Rating:</label>
                        <div id="reviewStars" class="review-star">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5" title="5 stars">&#9733;</label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4" title="4 stars">&#9733;</label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3" title="3 stars">&#9733;</label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2" title="2 stars">&#9733;</label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1" title="1 star">&#9733;</label>
                        </div>
                        <textarea class="review-comment" id="reviewText" name="comment" rows="4" cols="50"
                                  placeholder="Write your review here..."></textarea><br>
                        <button type="submit" class="btn submit-btn">Submit Review</button>
                    </form>

                </div>
            </div>

            <!-- reviews -->
            {% for review in reviews %}
                <div class="landmark-review">
                    <div class="landmark-comment">
                        <img src="{{ review.user.profile.profile_picture.url }}" alt="Author Image" class="comment-author-img">
                        <div class="comment-content">
                            <p class="comment-author">
                                <strong>{{ review.user.profile.get_full_name }}</strong>
                            </p>
                            <div class="landmark-stars">
                                {% for star in review.full_stars %}
                                    <span class="star">★</span>
                                {% endfor %}
                                {% for empty_star in review.empty_stars %}
                                    <span class="star empty">☆</span>
                                {% endfor %}
                                <span class="comment-date">{{ review.created_at }}</span>
                            </div>
                            <p class="comment-text">
                                {{ review.comment }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <script src="{% static 'js/script-landmark-review.js' %}"></script>
{% endblock %}